/* Struct */

.container{
  max-width: 600px;
  margin: 0 auto;
}

.detail{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  width: 20%;
  border-radius: 4px;
  background-color: #1A73E8;
}

.top-section{
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.headline{
  margin: 16px;
  padding: 32px;
  border-radius: 16px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

/* Geral */

body{
  background-color: #F8F8F8;
}

.img{
  display: block;
  max-width: 100%;
  margin-top: 32px;
  margin-bottom: 40px;
}

.paragraph{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.footer-paragraph{
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  margin-top: 48px;
  margin-bottom: 48px;
}

.subtitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.sub-headline{
  margin-bottom: 48px;
}

label{
  display: block;
  font-family: 'Poppins', serif;
  font-weight: 500;
}

input, textarea{
  display: block;
  margin-top: 8px;
  width: calc(100% - 20px);
  padding: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.btn-primary{
  width: 50%;
  display: block;
  padding: 8px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1A73E8;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.2s ease;
}

.btn-primary:hover{
  background-color: #155BB2;
}

.btn-send-email{
  display: block;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FBBC04;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.2s ease;
}

.btn-send-email:hover{
  background-color:#E0A903;
}

.pointer{
  cursor: pointer;
}

/* Text */

.text-center{
  text-align: center;
}

.poppins{
  font-family: 'Poppins', serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.normal{
  font-weight: 400;
}

.semibold{
  font-weight: 500;
}

.bold{
  font-weight: 600;
}

.italic{
  font-style: italic;
}

.upper{
  text-transform: uppercase;
}

/* Collors */

.text-yellow{
  color: #FBBC04;
}

.text-blue{
  color: #1A73E8;
}

.text-red{
  color: #EA4335;
}

.text-white{
  color: #FFFFFF;
}